@import "variables";
@import "global.scss";

.paper {
  &--header {
    background-color: $base-blue;
  }

  &--header-contents {
    padding: $base-space $base-space-2;
    color: $base-white;
    font-weight: bolder;

    @media screen and (min-width: 500px) {
      width: 80%;
      max-width: 798px;
      margin: 0 auto;
      padding: $base-space-2;
    }
  }

  &--title {
    &__en {
      font-size: $font-size-ss;
      margin-bottom: $base-space-2;
      @media screen and (min-width: 500px) {
        font-size: $font-size-s;
        margin-bottom: $base-space-2;
      }
    }

    &__ja {
      font-size: $font-size-s;
      margin-bottom: $base-space;
      @media screen and (min-width: 500px) {
        font-size: $font-size-m;
      }
    }
  }

  &--contents {
    padding: $base-space-2;
    padding-bottom: 100px;
    display: flex;

    @media screen and (max-width: 500px) {
      display: block;
    }

    @media screen and (min-width: 500px) {
      width: 80%;
      max-width: 798px;
      margin: 0 auto;
    }

    &__left {
      width: 600px;
      margin-top: $base-space-3;
      @media screen and (max-width: 500px) {
        width: 100%;
        margin-top: 0px;
      }
    }

    &__right {
      width: 200px;
      margin-top: $base-space-3;
      @media screen and (max-width: 500px) {
        width: 100%;
      }

      &__stop {
        position: relative;
        top: 0px;
      }

      &__active {
        position: fixed;
        top: 0px;
      }
    }
  }

  &--figures {
    display: none;
    margin-bottom: $base-space-2;

    &.active {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__analyzing,
    &__no-img {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &--first-view-contents {
    display: flex;

    .original-info {
      margin: 0 $base-space-2;
      width: -webkit-fill-available;

      &__contents {
        margin: $base-space;
        border-bottom: 1px solid $base-color;
        padding-bottom: $base-space-2;

        &:last-child {
          border-bottom: none;
        }

        .date-text {
          font-size: $font-size-s;
        }

        .journal-text {
          font-size: $font-size-s;
        }
      }
    }

    .original-figure {
      width: 770px;
      height: 230px;
      border: 1px solid black;
      border-radius: 4px;
      margin-bottom: $base-space-3;
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }

  &--figure-wrapper {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: -0.5px;
    border: 1px solid $base-color-2;
  }

  &--figure {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &--abstract {
    &__en,
    &__ja {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &--authors {
    margin-bottom: $base-space-2;
  }
}

.section {
  margin-bottom: $base-space-4;

  &__no-margin {
    margin-bottom: 0px;
  }

  &--title-contents {
    display: flex;
    margin-bottom: $base-space-3;

    .title-text {
      font-size: $font-size-m;
      color: $base-color;
      font-weight: bolder;
      margin: 0 $base-space-2 0 0;
      display: inline-block;
      border-left: $base-space-2 solid #f2f2f2;
      padding-left: $base-space-2;
    }

    .title-decoration {
      background-color: #f2f2f2;
      width: -webkit-fill-available;
      height: 30px;
      display: inline-block;
    }
  }

  &--title {
    font-size: $font-size-m;
    color: $base-color;
    font-weight: bolder;
    margin: $base-space-2 0;
    display: inline-block;
    margin-right: $base-space-2;

    &__small {
      font-size: $font-size-sm;
    }

    &__no-margin {
      margin: 0px;
    }
  }
}

.switch {
  &__to-ja,
  &__to-en {
    width: 70px;
    height: 20px;
    text-align: center;
    font-size: $font-size-ss;
    background-color: $base-color;
    color: white;
    border: 1px solid $base-color;
    border-radius: 5px;
    margin-top: $base-space;
    cursor: pointer;
    margin-right: $base-space-2;
    display: inline-block;

    &.active {
      background-color: white;
      color: $base-color;
    }
  }
}

// SP用
@media screen and (max-width: 500px) {
  .paper--pdf-button-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.09);
    bottom: 0;
    box-sizing: border-box;
    width: 100vw;
    background-color: #fff;
    z-index: 3;
    left: 0px;
    height: 75px;
  }

  .paper--pdf-button {
    border-radius: 5px;
    width: 80%;
    height: 45px;
    margin: 8px auto calc(8px * 2);
    background-color: $base-color;
    box-shadow: 0 4px 0 0 $base-color-2;
    box-sizing: border-box;
    width: 90%;
    background-color: $base-color;
    z-index: 3;
    left: 0px;
  }

  .paper--pdf-link {
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: $font-size-m;
    color: #fff;
    height: inherit;
    font-weight: bold;
    line-height: 45px;
  }

  /* Font Awesomeを使用しています。*/
  .shareList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .shareList-item {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .icon::before {
    font-size: 16px;
  }

  .icon::after {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
    vertical-align: top;
    content: attr(title);
  }

  .icon {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .icon-twitter {
    background: #55acee;
  }
}

// PC用
@media screen and (min-width: 500px) {
  .paper--pdf-button-wrapper {
    //   display: block;
    //   position: fixed;
    //   bottom: 0;
    //   box-sizing: border-box;
    //   z-index: 3;
    //   right: 10%;
    background-color: white;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding: $base-space;
  }

  .paper--pdf-button {
    border-radius: $base-space;
    padding: 0 20px;
    margin: 8px auto calc(8px * 2);
    background-color: $base-color;
    box-shadow: 0 6px $base-color-2;
  }

  .paper--pdf-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    font-size: $font-size-sm;
    font-weight: bold;
    color: #fff;
    height: 50px;
    line-height: 150px;
  }

  /* Font Awesomeを使用しています。*/
  .shareList {
    padding: 0;
    margin: 0;
    list-style: none;
    margin: $base-space-3 auto $base-space-2;
  }

  .shareList-item {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .icon::before {
    font-size: 16px;
  }

  .icon::after {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
    vertical-align: top;
    content: attr(title);
  }

  .icon {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .icon-twitter {
    background: #55acee;
  }
}

// モーダル付近のcss
.modal {
  &--wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  &--wrapper.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s;
  }

  &--wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    vertical-align: middle;
    content: "";
  }

  &--window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 85%;
    max-width: 600px;
    padding: 30px 0 15px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    vertical-align: middle;
  }

  &--content-wrapper {
    display: flex;
    justify-items: center;
  }

  &--content {
    max-height: 80vh;
    overflow-y: auto;
  }

  &--img-click-caption {
    font-size: 0.5rem;
    margin: 0;
  }

  &--text {
    &__en,
    &__ja {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &--img {
    max-width: 100%;
    max-height: 50vh;
  }

  &--overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  &--close,
  &--control__prev,
  &--control__next {
    z-index: 20;
    width: 35px;
    color: #95979c !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
  }

  &--close {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--control__prev,
  &--control__next {
    font-size: 30px;
    margin: auto 15px;
  }

  &--close:hover {
    color: #2b2e38 !important;
  }
}

// ローディング
.loading-wrapper {
  display: none;

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Twitterシェアボタン
.twitter-share-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: $base-space auto;
}
