@import "variables";
@import "global.scss";

//検索クエリの表示
.search-result {
  &--query {
    margin: $base-space-2 $base-space 0;
    border: 1px solid black;
    padding: $base-space;
    font-size: $font-size-s;
    border-radius: 4px;
  }
}

.no-result {
  margin: $base-space-3;
  font-size: $font-size-s;
}

// 論文リストのアイテム(1論文)
.paper {
  padding: 1rem;
  border-bottom: 1px solid black;
  display: block;
  color: black;
  text-decoration: none;

  &:first-child {
    border-top: 1px solid black;
  }

  &--title {
    font-weight: bolder;
    color: $base-blue;
    margin-bottom: $base-space-2;

    &__en {
      font-size: $font-size-sm;
      margin-bottom: $base-space;
    }

    &__ja {
      font-size: $font-size-s;
    }
  }

  &--content {
    display: flex;

    &__left {
      width: 50%;
    }

    &__right {
      width: 50%;
      margin-bottom: $base-space-2;
      margin-top: $base-space;
      margin-left: $base-space-2;
    }
  }

  &--figure {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-right: $base-space;
    margin-bottom: $base-space;

    &__no-img {
      @media screen and (max-width: 600px) {
        width: 100%;
        height: 100px;
        object-fit: cover;
        margin-right: $base-space;
        margin-bottom: $base-space;
      }

      @media screen and (min-width: 500px) {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-right: $base-space;
        margin-bottom: $base-space;
      }
    }
  }

  &--authors {
    font-size: $font-size-s;
  }

  &--date {
    font-size: $font-size-s;
  }
}

main {
  max-width: 798px;
  margin: auto;
}

.paging-block {
  display: none;
  height: 50px;
  width: 300px;
  margin: 0 auto $base-space-2;
  background-color: $base-blue-2;
  border-radius: 5px;
  cursor: pointer;

  &.active {
    display: block;
  }

  &--text {
    display: flex;
    line-height: 50px;
    height: 50px;
    margin: $base-space 0;
    font-weight: bold;
    font-size: $font-size-m;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
  }
}

// 初回読み込み時ローディング
.loading-wrapper {
  display: none;

  &.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// 追加読み込み時ローディング用アニメーション
.lds-ellipsis {
  display: none;
  position: relative;
  width: 80px;
  height: 50px;
  margin: 8px auto;

  div {
    position: absolute;
    top: 16.5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $base-blue-2;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
